<!DOCTYPE html>
<html>
<head>
  <title>Wickeditor</title>
  <%= stylesheet_link_tag    "wickeditor/application", media: "all" %>
  <%= javascript_include_tag "wickeditor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
